<nav class="navbar navbar-dark bg-dark mb-5">
 
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/Admin">Admin</a>
      <a class="nav-item nav-link" routerLink="/Student">Student</a>
      <a class="nav-item nav-link" routerLink="/Employee">Employee</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
   
  </div>
</nav>