<!-- <nav class="navbar navbar-dark bg-dark mt-5 ">
  <div class="navbar-expand m-auto navbar-text">
    Made by <a href="https://twitter.com/beeman_nl">RamaDevi</a>
  </div>
</nav> -->

<!-- footer content -->
<footer>
  <div class="pull-right">
    Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
  </div>
  <div class="clearfix"></div>
</footer>
<!-- /footer content -->