
<div class="container">
        
  <form class="form-horizontal" #employeeForm="ngForm">


    <div class="form-group">
      <label class="control-label col-sm-2" for="FirstName">First Name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="FirstName" name="pword" [(ngModel)]="employee.first_Name" placeholder="Enter First Name">

      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="LastName">Last Name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="LastName" name="pword" [(ngModel)]="employee.last_Name" placeholder="Enter Last Name">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="gender">Gender:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="gender" name="gender" [(ngModel)]="employee.gender" placeholder="Enter gender">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="mobile">mobile:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="mobile" name="mobile" [(ngModel)]="employee.mobile" placeholder="Enter mobile Number">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Email:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" name="email" [(ngModel)]="employee.email" id="email" placeholder="Enter email">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="skypeId">Skype Id:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" name="skypeId" [(ngModel)]="employee.skypeId" id="skypeId" placeholder="Enter Skype Id">
      </div>
    </div> 
    <div class="form-group">
      <label class="control-label col-sm-2" for="DOB">Date Of Birth:</label>
      <div class="col-sm-10">
        <input type="date" class="form-control" id="DOB" name="DOB" [(ngModel)]="employee.DOB" placeholder="Enter DOB">
      </div>
    </div>  
    <div class="form-group">
      <label class="control-label col-sm-2" for="bloodGroup">Blood Group:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="bloodGroup" name="bloodGroup" [(ngModel)]="employee.bloodGroup" placeholder="Enter Blood Group">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="panCard">Pan Card:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="panCard" name="panCard" [(ngModel)]="employee.panCard" placeholder="Enter Pan Card">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="mobile">Addhar No:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="AddharNo" name="AddharNo" [(ngModel)]="employee.AddharNo" placeholder="Enter Addhar Number">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="vehicleType">Vechicle Type:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="vehicleType" name="vehicleType" [(ngModel)]="employee.vehicleType" placeholder="Enter Vehicle Type">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="vehicleNumber">Vehicle Number:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="vehicleNumber" name="vehicleNumber" [(ngModel)]="employee.vehicleNumber" placeholder="Enter Vehicle Number">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="Address1">Address 1:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="Address1" name="Address1" [(ngModel)]="employee.Address1" placeholder="Enter Address">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="Address2">Address 2:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="Address2" name="Address2" [(ngModel)]="employee.Address2" placeholder="Enter Address">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="JoiningDate">Joining Date:</label>
      <div class="col-sm-10">
        <input type="date" class="form-control" id="JoiningDate" name="JoiningDate" [(ngModel)]="employee.Joining_Date" placeholder="Enter Joining Date">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="RDate">Releaving Date:</label>
      <div class="col-sm-10">
        <input type="date" class="form-control" id="RDate" name="RDate" [(ngModel)]="employee.Releave_Date" placeholder="Enter Releaving Date">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="accountNumber">Account Number:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="accountNumber" name="accountNumber" [(ngModel)]="employee.accountNumber" placeholder="Enter Account Number">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="System">System:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="System" name="System" [(ngModel)]="employee.System" placeholder="Enter System Type">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="designation">Designation:</label>
      <div class="col-sm-10">
  <select class="form-control" id="designation" name="designation" [(ngModel)]="employee.designation">
    <option [value]="designation" *ngFor="let designation of designations"> {{manager}}</option>
  </select>
</div>
  </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="project">Project:</label>
      <div class="col-sm-10">
        <select class="form-control" id="project" name="project" [(ngModel)]="employee.project">
          <option [value]="project" *ngFor="let project of Projects"> {{project}}</option>
        </select>
       </div>
    </div>

   
    <div class="form-group">
        <label class="control-label col-sm-2" for="reportingManager">Reporting Manager:</label>
        <div class="col-sm-10">
    <select class="form-control" id="reportingManager" name="reportingManager" [(ngModel)]="employee.reportingManager">
      <option [value]="manager" *ngFor="let manager of managers"> {{manager}}</option>
    </select>
  </div>
    </div>

    <div class="form-group">
        <div class="col-lg-1">
            <button  type="submit" class="btn btn-primary" (click)="SaveEmployeeData()">Save</button>
            </div>
          <div class="col-lg-1">
            <button type="submit" class="btn btn-danger" >Cancel</button>
          </div>
      </div>
  </form>
</div>

