<h1>
  {{title}}
</h1>

<button type="button" class="btn btn-info btn-md" (click)="openModalDialog()">Add Student</button>
<div class="backdrop" [ngStyle]="{'display':display}"></div>

<!-- modal -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
  <!-- modal-dialog -->
  <div class="modal-dialog" role="document">
    <!-- modal-content -->
    <div class="modal-content">
      <!-- modal-header -->
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="closeModalDialog()">
          <span aria-hidden="true">&times;</span>
        </button>
        <!-- <h4 class="modal-title">Login</h4> -->
      </div>

      <!-- modal-body -->
      <div class="modal-body">
        <form class="form-horizontal" #studentForm="ngForm">


          <div class="form-group">
            <label class="control-label col-sm-2" for="FirstName">First Name:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="FirstName" name="pword" [(ngModel)]="student.first_Name" placeholder="Enter First Name">

            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="LastName">Last Name:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="LastName" name="pword" [(ngModel)]="student.last_Name" placeholder="Enter Last Name">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="email">Email:</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" name="email" [(ngModel)]="student.email" id="email" placeholder="Enter email">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-2" for="gender">Gender:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="gender" name="gender" [(ngModel)]="student.gender" placeholder="Enter gender">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="JoiningDate">Joining Date:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="JoiningDate" name="JoiningDate" [(ngModel)]="student.Joining_Date" placeholder="Enter Joining Date">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="mobile">mobile:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="mobile" name="mobile" [(ngModel)]="student.mobile" placeholder="Enter mobile Number">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="mobile">course:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="course" name="course" [(ngModel)]="student.course" placeholder="Enter course">
            </div>
          </div>

        </form>

      </div>

      <!-- modal-footer -->
      <div class="modal-footer">
        <div class=" col-sm-10">
          <button type="submit" class="btn btn-primary" (click)="saveStudent()">Save</button>
          <button type="button" class="btn btn-primary" (click)="closeModalDialog()">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="panel-group">
    <div class="panel panel-primary" *ngFor="let student of students; let i = index">
    
      <div class="panel-heading">{{student.name}}</div> 
      <div class="panel-body">

        <div class="col-lg-10">
          <div class="row">
            <div class="col-lg-4">
              Student Id:
            </div>
            <div class="col-lg-6">
              <a class="nav-item nav-link" routerLink="/Student/id">{{student.student_ID}}</a>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              First Name:
            </div>
            <div class="col-lg-4" *ngIf="!(showBtn == i)">

              {{student.first_Name}}
            </div>
            <div class="col-lg-4" *ngIf="showBtn == i">
              <input type="text" class="form-control" id="FirstName" name="FirstName" [(ngModel)]="studentData.first_Name" placeholder="Enter First Name">
            </div>

          </div>

          <div class="row">
            <div class="col-lg-4">
              Last Name:
            </div>
            <div class="col-lg-4" *ngIf="!(showBtn == i)">
              {{student.last_Name}}
            </div>
            <div class="col-lg-4" *ngIf="(showBtn == i)">
            <input type="text" class="form-control" id="LastName" name="pword" [(ngModel)]="studentData.last_Name" placeholder="Enter Last Name">
          </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              email:
            </div>
            <div class="col-lg-4" *ngIf="!(showBtn == i)">
              {{student.email}}
            </div>
            <div class="col-lg-4" *ngIf="(showBtn == i)">
                <input type="text" class="form-control" id="email" name="email" [(ngModel)]="studentData.email" placeholder="Enter email">
              </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              Gender:
            </div>
            <div class="col-lg-4" *ngIf="!(showBtn == i)">
              {{student.gender}}
            </div>
            <div class="col-lg-4" *ngIf="(showBtn == i)">
                <input type="text" class="form-control" id="gender" name="gender" [(ngModel)]="studentData.gender" placeholder="Enter gender">
              </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              Joining Date:
            </div>
            <div class="col-lg-4" *ngIf="!(showBtn == i)">
              {{student.Joining_Date}}
            </div>
            <div class="col-lg-4" *ngIf="(showBtn == i)">
                <input type="text" class="form-control" id="JoiningDate" name="JoiningDate" [(ngModel)]="studentData.Joining_Date" placeholder="Enter Joining Date">
              </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              Mobile:
            </div>
            <div class="col-lg-4" *ngIf="!(showBtn == i)">
              {{student.mobile}}
            </div>
            <div class="col-lg-4" *ngIf="(showBtn == i)">
                <input type="text" class="form-control" id="mobile" name="mobile" [(ngModel)]="studentData.mobile" placeholder="Enter mobile">
              </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              Course:
            </div>
            <div class="col-lg-4" *ngIf="!(showBtn == i)">
              {{student.course}}
            </div>
            <div class="col-lg-4" *ngIf="(showBtn == i)">
                <input type="text" class="form-control" id="course" name="course" [(ngModel)]="studentData.course" placeholder="Enter course">
              </div>
          </div>
        </div>
        <div>
          <div class="col-lg-1">
            <button *ngIf="!(showBtn == i)" type="submit" class="btn btn-primary" (click)="EditData(student,i)">Edit</button>
            <button *ngIf="(showBtn == i)" type="submit" class="btn btn-primary" (click)="updateStudent(student)">Update</button>
          </div>
          <div class="col-lg-1">
            <button type="submit" class="btn btn-danger" (click)="deleteStudent(student)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>