
<div class="container">
        
        <!-- <form class="form-horizontal" #employeeForm="ngForm" (ngSubmit)="saveEmployee(employeeForm)" >
          <div class="form-group">
            <label class="control-label col-sm-2" for="email">Email:</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" name="email" [(ngModel)]="email" id="email" placeholder="Enter email" name="email">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="password">Password:</label>
            <div class="col-sm-10">          
              <input type="password" class="form-control" id="password" name="pword" [(ngModel)]="password" placeholder="Enter password" name="pwd">
            </div>
          </div>
          <div class="form-group">        
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label><input type="checkbox" name="remember"> Remember me</label>
              </div>
            </div>
          </div>
          <div class="form-group">        
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form> -->

        <div class="container">
        <div class="form-group">
          <label class="control-label col-sm-2" for="reportingManager">Reporting Manager:</label>
          <div class="col-sm-10">
      <select class="form-control" id="reportingManager" name="reportingManager" (change)="getAllEmployeeData(selectedManager)" [(ngModel)]="selectedManager">
        <option [value]="manager" *ngFor="let manager of managers"> {{manager}}</option>
      </select>
    </div>
      </div>

      <p></p>


      
        <div class="panel-group">
          <div class="panel panel-primary" *ngFor="let employee of filteredemployees ">
          
            <div class="panel-heading">{{employee.name}}</div> 
            <div class="panel-body">
      
              <div class="col-lg-10">
                
                <div class="row">
                  <div class="col-lg-4">
                    First Name:
                  </div>
                  <div class="col-lg-4" >
      
                    {{employee.first_Name}}
                  </div>
                  
      
                </div>
      
                <div class="row">
                  <div class="col-lg-4">
                    Last Name:
                  </div>
                  <div class="col-lg-4" >
                    {{employee.last_Name}}
                  </div>
                  
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    email:
                  </div>
                  <div class="col-lg-4" >
                    {{employee.email}}
                  </div>
                 
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    Gender:
                  </div>
                  <div class="col-lg-4" >
                    {{employee.gender}}
                  </div>
                  
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    Joining Date:
                  </div>
                  <div class="col-lg-4" >
                    {{employee.Joining_Date}}
                  </div>
                  
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    Mobile:
                  </div>
                  <div class="col-lg-4" >
                    {{employee.mobile}}
                  </div>
                 
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    Project:
                  </div>
                  <div class="col-lg-4" >
                    {{employee.project}}
                  </div>
                 
                </div>
              </div>
              <div>
               
               
              </div>
            </div>
          </div>
        </div>
      </div>
     
    
